<html>
<head>
<title>Nova mensagem através do FB - Contact Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<b>Nova mensagem através do FB - Contact Form<br /></b>
	<b>Nome:  </b><%= @sitecontact.name %><br />
	<b>E-mail: </b><%= @sitecontact.email %><br />
	<b>Mensagem: </b><br>
	<%= @sitecontact.message %>
	<br />
	<br />
</body>
</html>